# Database Configuration
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# Mail Configuration
MAIL_FROM=""
RESEND_API_KEY=

# JWT
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
JWT_SECRET_KEY=
JWT_ISSUER=
JWT_AUDIENCE=

# Google OAuth Configuration
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=

# Vonage SMS
VONAGE_API_KEY=
VONAGE_API_SECRET=

# Cloudflare
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=
STORAGE_BUCKET_NAME=
STORAGE_ENDPOINT_URL=
